body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#container {
    max-width: 600px;
    width: 90%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

#value {
    text-align: center;
}

h1 {
    color: #3498db;
    margin-bottom: 20px;
    font-size: 24px;
}

#input {
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 20px);
    border: 2px solid #3498db;
    border-radius: 5px;
    box-sizing: border-box;
}

#convert-btn {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: calc(100% - 20px);
    box-sizing: border-box;
    transition: background-color 0.3s;
}

#convert-btn:hover {
    background-color: #007bb5;
}

#types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

#length,
#volume,
#mass {
    text-align: center;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    background-color: #ecf0f1;
    margin: 10px;
}

#length:hover,
#volume:hover,
#mass:hover {
    transform: scale(1.05);
}

h2 {
    color: #3498db;
    margin-bottom: 10px;
    font-size: 18px;
}

p {
    margin: 10px 0;
    color: #555;
    font-size: 14px;
}

#length-paragraph,
#volume-paragraph,
#mass-paragraph {
    color: #3498db;
    font-weight: bold;
    font-size: 16px;
}

@media (max-width: 600px) {
    #input,
    #convert-btn {
        width: 100%;
    }

    #types {
        flex-direction: column;
    }

    #length,
    #volume,
    #mass {
        margin: 10px 0;
    }
}

